@import "../../node_modules/bootstrap-icons";
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body,
    html {
        overflow-x: hidden;
        font-family: "Nunito", sans-serif;
        width: 100%;
    }
}

@layer utilities {
    @media (min-width: 475px) and (max-width: 640px) {
        .xs {
            @apply max-w-[475px];
        }
    }
}
